* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-seerif;

}

body {
    background-color: rgb(228, 226, 226);
}

header { 
  
    width: 100%;
    height: 90px;
    border-bottom: 1px solid grey; /*code taken from https://internetingishard.com/html-and-css/css-box-model*/
    font-family: 'Georgia', Times, serif;
    background-color:#ffffff;
}   

header div {
        width: 960px;
        margin: 0 auto;
}

header h1 {

    background-color: #4aaaa5; /*This makes 'Leon Lin' background green'*/
    color: white; /*Font Color*/
    padding: 25px;
    margin: 0;
}

header h1, nav {
    display: inline-block; /*inline-block does not add a line-break after element so element can sit next to other elements*/
    padding-top: 30px;
}

header h1 {
        float: left
}

nav {
    float: right;
    font-family: 'Georgia', Times, serif;
}

header a {
padding: 15px;

}
    

section {
    width: 100%;
    background-color: rgb(228, 226, 226);


}

section div {
    width: 960px;
    background-color: white;
    margin: 0 auto;


}

section h2 /*This is the "Portfolio" section*/ 
    {
    padding: 15px;
    background-color:#ffffff;
    border-bottom: 3px groove lightgray;
    color: #4aaaa5;
}



.box-set {
    width: 960px;
    margin: 0 auto;
    background-color: blue;
   
  }

 aside {
    background-color: blue;
}


.box {
    position: relative;
    box-sizing: border-box;
    width: 325px;
    height: 216px;
    margin: 16px 40px 16px 0px;
    float: left;
    background-color: blue;

  }


  .h3 {
    position: absolute;
    width: 325px;
    bottom: 15%;
    text-align: center;
    background: rgb(0, 109, 128);
    color: white
  }
  /* .ex1 {
    bottom: 20%;

  }
   */
 


footer div {
    /* this line forces the header to float below the Body */
    clear: both; 
    /* display: table-cell; */
    width: 100%;
    height: 90px;
    /* vertical-align: bottom; */
    text-align: center;
    background-color: gray;
    color: white;
    border-top: 10px solid #4aaaa5;


}
